
.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* Ensures items are spaced evenly */
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  z-index: 1;
}

.navbar .left-items {
  display: flex;
  align-items: center;
}

.navbar .right-items {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures items are spaced evenly */
}

.navbar .profile {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust margin for space between profile and logout */
}

.navbar .profile p {
  margin: 0 1rem 0 0;
}

.toggle-button {
  cursor: pointer;
  padding: 8px;
  margin-right: 10px; /* Adjust margin for space between toggle and profile */
}

.navbar .profile .profile-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555; /* Darker background */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .profile .profile-button:hover {
  background-color: #777; /* Darker hover background */
}

.navbar .logout {
  cursor: pointer;
}

.navbar .theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-toggle .icon {
  font-size: 20px;
  margin-right: 5px;
}

.theme-toggle .icon.day {
  color: yellow; /* Day mode icon color */
}

.theme-toggle .icon.night {
  color: #ccc; /* Night mode icon color */
}
