.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: auto;
    font-family: sans-serif;
  }
  
  h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  /* view password */
  .password-container {
    position: relative;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 100px; /* Add some padding to make space for the icon */
  }

  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  
  button {
    background-color: #333;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #111;
  }
  
  button.disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  .loading-icon {
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }